@use "@/application/styles/module" as m;

.userWrapperList {
  padding: m.rem(12);
  background: var(--cardBg);
  border-radius: m.rem(4);

  // .userWrapperList__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: m.rem(12);
  }

  // .userWrapperList__icon

  &__icon {
    flex: 0 0 auto;
    inline-size: m.rem(20);
    aspect-ratio: 1;
    filter: invert(var(--iconInvert));
    transition: filter 0.3s ease 0s;
  }

  // .userWrapperList__link

  &__link {
    display: flex;
    gap: m.rem(12);
    align-items: center;
    min-inline-size: 100%;
    padding: m.rem(12);
    background: var(--cardBorder);
    border-radius: m.rem(4);
    transition: 0.3s ease 0s;
    transition-property: color, background;

    &:hover,
    &:focus-visible {
      color: var(--mainBgColor);
      background: var(--cardReverseBg);

      .userWrapperList__icon {
        filter: invert(var(--iconReverseInvert));
      }
    }
  }

  // .userWrapperList__item

  &__item {
    // .userWrapperList__item_active

    &_active {
      .userWrapperList__link {
        font-weight: 500;
        color: var(--mainBgColor);
        background: var(--cardReverseBorder);

        .userWrapperList__icon {
          filter: invert(var(--iconReverseInvert));
        }
      }
    }
  }
}
