@use '@/application/styles/module' as m;

.dropdown {
  position: relative;

  // .dropdown__btn

  &__btn {
    display: flex;
    gap: m.rem(8);
    align-items: center;

    &:focus-visible {
      outline: none;
    }
  }

  // .dropdown__icon

  &__icon {
    display: flex;
    align-items: center;
    inline-size: m.rem(12);
    aspect-ratio: 1;
    transition: rotate 0.3s ease 0s;

    img {
      filter: invert(var(--iconInvert));
      transition: filter 0.3s ease 0s;
    }
  }

  &[data-open] {
    .dropdown__icon {
      rotate: 90deg;
    }
  }
}

.dropdownItems {
  z-index: 100;
  padding: m.rem(5);
  color: m.$darkColor;
  outline: none;
  background: m.$lightColor;
  border-radius: m.rem(5);
  box-shadow:
    0 m.rem(12) m.rem(16) m.rem(-4) rgba(0, 0, 0, 0.1),
    0 m.rem(4) m.rem(8) m.rem(-2) rgba(0, 0, 0, 0.1);
  transition: 0.1s ease-out 0s;
  transition-property: scale, opacity;

  &[data-closed] {
    opacity: 0;
    scale: 0.95;
  }

  &:focus {
    outline: none;
  }

  // .dropdownItems__icon

  &__icon {
    flex: 0 0 auto;
    inline-size: m.rem(20);
    aspect-ratio: 1;
    transition: filter 0.3s ease 0s;
  }

  // .dropdownItems__item

  &__item {
    display: flex;
    align-items: center;
    border-radius: m.rem(5);
    transition: 0.3s ease 0s;
    transition-property: color, background;

    // .dropdownItems__item_active

    &_active {
      color: m.$lightColor;
      background: m.$darkColor;

      .dropdownItems__icon {
        filter: invert(1);
      }
    }

    > * {
      &:not(.dropdownItems__icon) {
        display: flex;
        flex: 1 1 auto;
        gap: m.rem(8);
        align-items: center;
        inline-size: 100%;
        padding-block: m.rem(8);
        padding-inline: m.rem(12);

        @include m.textNowrap;
      }
    }
  }
}
