// Vars

// Connection utils
@use "./utils";

// // Connection mixins
@use "./mixins";

// ============================================================================

// Settings template

$fontSize: utils.rem(16);
$headerHeight: utils.rem(70);

// Fonts
$primaryFontFamily: var(--openSans);
$secondaryFontFamily: var(--montserrat);

// Colors
$primaryColor: #0c1d38;
$secondaryColor: #284369;
$cardBgLightColor: #e4e4e7;
$cardBgDarkColor: #27272b;
$cardBorderLightColor: #d9d9dc;
$cardBorderDarkColor: #1d1d1e;
$redColor: #d6363f;
$greenColor: #40a258;
$grayColor: #9d9d9c;
$whiteColor: #fff;
$lightColor: #fbfbfb;
$darkColor: #1a1a1e;

@include mixins.theme(mainColor, $darkColor, $lightColor);
@include mixins.theme(mainBg, $lightColor, $darkColor);
@include mixins.theme(iconInvert, 0, 1);
@include mixins.theme(iconReverseInvert, 1, 0);
@include mixins.theme(themeSwitcherBg, #d4d8dd, #222128);
@include mixins.theme(themeSwitcherSlider, #fff, #494a50);
@include mixins.theme(cardBg, $cardBgLightColor, $cardBgDarkColor);
@include mixins.theme(cardBorder, $cardBorderLightColor, $cardBorderDarkColor);
@include mixins.theme(cardReverseBg, $cardBgDarkColor, $cardBgLightColor);
@include mixins.theme(
  cardReverseBorder,
  $cardBorderDarkColor,
  $cardBorderLightColor
);

// ============================================================================

// Adaptive grid settings

// The minimum page width
$minWidth: 320;
// The width of the canvas
$maxWidth: 1920;
// The width of the limiting container
$maxWidthContainer: 1600;
// General indenter
$containerPadding: 32;
$containerDesktopPadding: 240;

// The width of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;
$containerDesktopWidth: $maxWidthContainer + $containerDesktopPadding;

// Breakpoints
$desktopLarge: 1535.98px;
$desktopMedium: 1279.98px;
$desktopSmall: 1023.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

// Adaptive type:
// 1 = responsiveness
// !1 = according to breakpoints
$adaptiveType: 1;
