@use "@/application/styles/module" as m;

.leaveReview {
  // .leaveReview__popup

  &__popup {
    > div {
      > div {
        > div {
          &:last-child {
            inline-size: 100%;
            max-inline-size: m.rem(400);
          }
        }
      }
    }
  }

  // .leaveReview__body

  &__body {
    display: flex;
    flex-direction: column;
    gap: m.rem(16);
  }

  // .leaveReview__submit

  &__submit {
    color: m.$lightColor;
    background: m.$darkColor;
    border-color: m.$darkColor;

    &:not(:disabled) {
      @include m.hover(
        (
          color: m.$darkColor,
          background: m.$lightColor,
          border-color: m.$darkColor,
        )
      );
    }
  }
}
