@use '@/application/styles/module' as m;

.file {
  // .file__body

  &__body {
    display: flex;
    flex-direction: column;
    gap: m.rem(16);
  }

  // .file__content

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: m.rem(25) m.rem(15);
    border: m.rem(2) dashed var(--mainColor);
    border-radius: m.rem(5);
    transition: border-color 0.3s ease 0s;

    // .file__content_error

    &_error {
      border-color: m.$redColor;
    }

    &:hover,
    // .file__content_active
    &_active {
      border-color: #766df4;
    }
  }

  // .file__box

  &__box {
    display: flex;
    flex-direction: column;
    text-align: center;

    > * {
      &:not(:last-child) {
        margin-bottom: m.rem(5);
      }
    }
  }

  // .file__hint

  &__hint {
  }

  // .file__subHint

  &__subHint {
    @include m.responsiveValue(
      'max-width',
      520,
      260,
      1,
      m.$maxWidth,
      m.$minWidth
    );
    @include m.textNowrap;
  }

  // .file__input

  &__input {
    position: absolute;
    inset: 0;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
  }

  // .file__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: m.rem(10);
  }

  // .file__item

  &__item {
    position: relative;

    > p {
      aspect-ratio: 1;
      text-transform: uppercase;
      border: m.rem(1) solid var(--mainColor);
      border-radius: 50%;

      @include m.centered(flex);
    }
  }

  // .file__img

  &__img {
    inline-size: m.rem(50);
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
  }

  // .file__remove

  &__remove {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;

    > span {
      position: relative;
      display: block;
      inline-size: m.rem(16);
      aspect-ratio: 1;
      background: m.$redColor;
      border-radius: 50%;

      &::before,
      &::after {
        position: absolute;
        inset-block-start: 50%;
        inset-inline: m.rem(2);
        block-size: m.rem(2);
        content: '';
        background: m.$lightColor;
        border-radius: m.rem(4);
        translate: 0 -50%;
        transition: rotate 0.3s ease 0s;
      }

      &::before {
        rotate: 45deg;
      }

      &::after {
        rotate: -45deg;
      }
    }
  }

  // .file__btn

  &__btn {
    position: absolute;
    inset: 0;
    z-index: 1;

    &:hover,
    &:focus {
      + .file__remove {
        > span {
          &::before,
          &::after {
            rotate: 0deg;
          }
        }
      }
    }
  }
}
