@use '@/application/styles/module' as m;

.user {
  // .user__body

  &__body {
    inline-size: m.rem(44);
    aspect-ratio: 1;
    overflow: hidden;
    border: m.rem(1) solid m.$darkColor;
    border-radius: 50%;
  }

  // .user__icon

  &__icon {
    inline-size: m.rem(18);
    block-size: m.rem(18);
  }

  // .user__link
  &__link,
  // .user__dropdown
  &__dropdown {
    display: flex;
    justify-content: center;
    inline-size: 100%;
    block-size: 100%;
  }

  // .user__link
  &__link,
  // .user__dropdown
  &__dropdown > button {
    border-radius: 50%;

    @include m.centered(flex);
  }

  // .user__dropdown

  &__dropdown {
    > button {
      inline-size: 100%;
      font-weight: 500;
      color: m.$darkColor;
      text-transform: uppercase;
    }
  }
}
