@use '@/application/styles/module' as m;

.select {
  // .select__body

  &__body {
    position: relative;
  }

  // .select__select

  &__select {
  }

  // .select__icon

  &__icon {
    position: absolute;
    inset-block: 0;
    inset-inline-end: m.rem(8);
    inline-size: m.rem(12);
    aspect-ratio: 1;
    transition: filter 0.3s ease 0s;
  }

  :global(.select__control) {
    min-height: unset;
    cursor: pointer;
    background: m.$cardBgLightColor;
    border-width: m.rem(1);
    border-radius: m.rem(4);
  }

  :global(.select__value-container) {
    padding: unset;
    padding-block: m.rem(8);
    padding-inline-start: m.rem(12);
    padding-inline-end: m.rem(28);
  }

  :global(.select__single-value) {
    max-width: unset;
    margin: unset;
    font-weight: 500;
    color: m.$darkColor;
  }

  :global(.select__indicator-separator) {
    display: none;
  }

  :global(.select__dropdown-indicator) {
    display: none;
  }

  :global(.select__menu) {
    z-index: 3;
    margin: unset;
    margin-block: m.rem(8);
    background: m.$cardBorderLightColor;
    border-radius: m.rem(4);
  }

  :global(.select__menu-list) {
    max-block-size: m.rem(320);
    max-height: unset;
    padding: unset;
    padding-block: m.rem(4);
  }

  :global(.select__option) {
    color: m.$darkColor;
    cursor: pointer;
    transition: 0.3s ease 0s;
    transition-property: color, background;

    &:global(.select__option--is-focused),
    &:global(.select__option--is-selected) {
      color: m.$lightColor;
    }

    &:global(.select__option--is-focused) {
      background: m.$secondaryColor;
    }

    &:global(.select__option--is-selected) {
      background: m.$primaryColor;
    }
  }
}
