@use "@/app/styles/module" as m;

.img {
  position: relative;

  > img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  // .img_svg

  &_svg {
    > img {
      position: relative !important;
      object-fit: fill;
    }
  }
}
