@use "@/application/styles/module" as m;

.productMain {
  // .productMain__body

  &__body {
    display: flex;
    flex-direction: column;
    gap: m.rem(16);
    align-items: flex-start;
  }

  // .productMain__title

  &__title {
    font-size: m.rem(24);
  }

  // .productMain__reviews

  &__reviews {
    display: flex;
    gap: m.rem(8);
    align-items: center;
    font-size: m.rem(18);
  }

  // .productMain__price

  &__price {
    font-size: m.rem(20);
    font-weight: 500;
  }

  // .productMain__btn

  &__btn {
    position: relative;

    img {
      scale: -1 1;
    }

    .productMain__indicator {
      position: absolute;
      inset-block-start: m.rem(-4);
      inset-inline-end: m.rem(-4);
      z-index: 1;

      img {
        scale: unset;
      }
    }
  }

  // .productMain__footer

  &__footer {
    display: flex;
    gap: m.rem(16);

    > .productMain__btn {
      min-inline-size: m.rem(191.81);
    }
  }

  // .productMain__btns

  &__btns {
    display: flex;
    gap: m.rem(8);
    align-items: center;

    .productMain__btn {
      padding: m.rem(8);
      transition: opacity 0.3s ease 0s;

      @include m.hover;

      .productMain__indicator {
        position: absolute;
        inset-block-start: m.rem(4);
        inset-inline-end: m.rem(4);
        z-index: 1;
      }
    }

    .productMain__icon {
      inline-size: m.rem(24);
      aspect-ratio: 1;
      filter: invert(var(--iconInvert));
    }
  }
}
