@use "@/app/styles/module" as m;

.sliderSwiper {
  :global(.swiper-button-prev) {
    &::after {
      left: m.rem(15);
    }
  }

  :global(.swiper-button-next) {
    &::after {
      right: m.rem(15);
    }
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    transition: opacity 0.3s ease 0s;

    @include m.hover;

    &::after {
      position: absolute;
      width: m.em(60, 44);
      height: m.em(60, 44);
      font-size: m.rem(44) !important;
      color: var(--mainBg);
      background: rgba(0, 0, 0, 0.8);
      border-radius: m.em(5, 44);

      @include m.centered(flex);
    }
  }

  :global(.swiper-button-disabled) {
    pointer-events: auto !important;
  }
}
