@use "@/app/styles/module" as m;

.sliderSwiper {
  // .sliderSwiper_bullets

  &_bullets {
    :global(.swiper-wrapper) {
      padding-bottom: m.rem(calc(20 + 10));
    }
  }

  :global(.swiper-pagination) {
    @include m.centered(flex);

    &:global(.swiper-pagination-bullets) {
      bottom: 0 !important;
    }

    :global(.swiper-pagination-bullet) {
      margin: 0 !important;
      background: var(--mainColor) !important;

      &:not(:last-child) {
        margin-right: m.rem(4) !important;
      }

      &:not(:global(.swiper-pagination-bullet-active)) {
        width: m.rem(8) !important;
        height: m.rem(8) !important;
        opacity: 0.8;
        transition: opacity 0.3s ease 0s;

        @include m.hover(
          (
            opacity: 0.4,
          )
        );
      }

      &:global(.swiper-pagination-bullet-active) {
        width: m.rem(12) !important;
        height: m.rem(12) !important;
        cursor: default;
      }
    }
  }
}
