@use "@/app/styles/module" as m;

.checkbox {
  position: relative;

  // .checkbox_error

  &_error {
    > label {
      color: m.$redColor;
    }
  }

  // .checkbox_focused

  &_focused {
    > label {
      &::before {
        outline: m.rem(1) solid #a7a9ac;
      }
    }
  }

  > label {
    display: flex;
    gap: m.rem(10);
    align-items: center;
    cursor: pointer;

    &:before {
      flex: 0 0 m.rem(20);
      align-self: flex-start;
      inline-size: m.rem(20);
      block-size: m.rem(20);
      content: "";
      border: m.rem(1) solid #a7a9ac;
    }
  }

  > input {
    position: absolute;
    inline-size: 0;
    block-size: 0;
    opacity: 0;

    &:checked {
      + label {
        &:before {
          background: #219fdf;
        }
      }
    }

    &:disabled {
      + label {
        cursor: default;
        opacity: 0.5;
      }
    }
  }
}
