@use '@/application/styles/module' as m;

.menu {
  display: flex;
  gap: m.rem(20);
  align-items: center;

  // .menu__button

  &__button {
    @media (min-width: m.$desktopSmall) {
      display: none;
    }

    @media (max-width: m.$desktopSmall) {
      position: relative;
      z-index: 9;
      display: block;
      inline-size: m.rem(30);
      block-size: m.rem(18);

      &::before,
      &::after,
      > span {
        position: absolute;
        inset-inline-start: 0;
        inline-size: 100%;
        block-size: 9.5%;
        background: m.$darkColor;
        border-radius: m.rem(4);
        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: '';
      }

      &::before {
        inset-block-start: 0;
      }

      &::after {
        bottom: 0;
      }

      > span {
        inset-block-start: 50%;
        scale: 1;
        translate: 0 -50%;
      }

      // .menu__button_active

      &_active {
        block-size: m.rem(30);

        &::before,
        &::after {
          inset-block-start: 50%;
          block-size: 5%;
          translate: 0 -50%;
        }

        &::before {
          rotate: 45deg;
        }

        &::after {
          rotate: -45deg;
        }

        > span {
          scale: 0;
        }
      }
    }
  }

  // .menu__elements

  &__elements {
    display: flex;
    gap: m.rem(20);
  }

  > .menu__elements {
    display: flex;
    gap: m.rem(20);

    @media (max-width: m.$desktopSmall) {
      order: -2;
    }

    @media (max-width: m.$mobile) {
      display: none;
    }
  }

  // .menu__body

  &__body {
    @media (max-width: m.$desktopSmall) {
      position: fixed;
      inset-block: 0;
      inset-inline-end: -100%;
      inline-size: 100%;
      padding-block-start: m.rem(100);
      padding-block-end: m.rem(30);
      padding-inline: m.rem(30);
      overflow: auto;
      background: m.$cardBgLightColor;
      transition: right 0.3s ease 0s;

      &::before {
        position: fixed;
        inset-block-start: 0;
        inset-inline: 0;
        z-index: 8;
        block-size: m.rem(70);
        content: '';
        background: m.$cardBgLightColor;
      }

      // .menu__body_active

      &_active {
        inset-inline-end: 0;
      }
    }

    .menu__elements {
      display: flex;

      @media (min-width: m.$mobile) {
        display: none;
      }

      @media (max-width: m.$mobileSmall) {
        align-items: flex-end;
      }
    }
  }

  // .menu__content

  &__content {
    display: flex;
    gap: m.rem(40) m.rem(40);
    align-items: center;
    font-size: m.rem(18);

    @media (max-width: m.$desktopSmall) {
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: m.rem(24);
    }
  }

  // .menu__list

  &__list {
    display: flex;
    gap: m.rem(30) m.rem(20);
    font-size: m.rem(18);

    @media (min-width: m.$desktopSmall) {
      align-items: center;
    }

    @media (max-width: m.$desktopSmall) {
      flex-direction: column;
      font-size: m.rem(20);
    }
  }

  // .menu__item

  &__item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    line-height: 1.8;
  }

  // .menu__link

  &__link {
    flex: 0 1 auto;
    color: m.$darkColor;
    text-align: end;
    text-transform: capitalize;

    @media (min-width: m.$desktopSmall) {
      padding: m.em(10, 18) 0;
    }

    // .menu__link_active

    &_active {
      opacity: 0.5;
    }
  }

  // .menu__dropdown

  &__dropdown {
    color: m.$darkColor;

    @media (max-width: m.$desktopSmall) {
      display: none;
    }

    img {
      filter: none !important ;
    }
  }

  // .menu__collapse

  &__collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: m.$darkColor;

    @media (min-width: m.$desktopSmall) {
      display: none;
    }

    img {
      filter: invert(1);
    }
  }

  // .menu__subList

  &__subList {
    display: flex;
    flex-direction: column;
    gap: m.rem(8);
    align-items: flex-end;
    padding-block: m.rem(12);
    padding-inline: m.rem(8);
    background: m.$lightColor;
    border-end-start-radius: m.rem(4);
    border-end-end-radius: m.rem(4);
  }

  // .menu__subItem

  &__subItem {
    display: flex;
    justify-content: flex-end;
    inline-size: 100%;
  }

  // .menu__subIcon

  &__subIcon {
    inline-size: m.rem(20);
    aspect-ratio: 1;
    transition: filter 0.3s ease 0s;

    img {
      filter: none;
    }
  }

  // .menu__subLink

  &__subLink {
    display: flex;
    gap: m.rem(8);
    align-items: center;
    justify-content: flex-end;
    inline-size: 100%;
    padding-inline: m.rem(8);
    font-size: m.rem(20);
    border-radius: m.rem(4);
    transition: 0.3s ease 0s;
    transition-property: color, background;

    &:hover,
    &:focus-visible {
      color: m.$lightColor;
      background: m.$darkColor;

      .menu__subIcon {
        filter: invert(1);
      }
    }
  }

  // .menu__box

  &__box {
  }

  // .header__user

  &__user {
    position: relative;
    z-index: 1;
    font-size: m.rem(16);

    @media (max-width: m.$desktopSmall) {
      order: -1;
    }
  }

  // .menu__localeSwitcher

  &__localeSwitcher {
    @media (max-width: m.$desktopSmall) {
      font-size: m.rem(20) !important;
    }
  }
}
