@use '@/application/styles/module' as m;

.productSliders {
  // .productSliders__body

  &__body {
    display: flex;
    gap: m.rem(16);

    @media (max-width: m.$mobile) {
      flex-direction: column;
    }
  }

  // .productSliders__img

  &__img {
    aspect-ratio: 1;
    background: m.$whiteColor;
    border-radius: m.rem(4);

    img {
      padding: m.rem(8);
      object-fit: contain;
    }
  }

  // .productSliders__miniSlider

  &__miniSlider {
    flex: 0 0 m.rem(138);
    block-size: m.rem(600);

    @media (max-width: m.$mobile) {
      flex-basis: auto;
      inline-size: 100%;
      block-size: auto;
    }
  }

  // .productSliders__content

  &__content {
    position: relative;
    flex: 0 0 50%;

    @media (max-width: m.$desktopMedium) {
      flex: 0 0 auto;
    }

    @media (max-width: m.$mobile) {
      order: -1;
    }
  }

  // .productSliders__slider

  &__slider {
    inline-size: m.rem(600);
    aspect-ratio: 1;

    // .productSliders__slider_empty

    &_empty {
      background: m.$whiteColor;
      border-radius: m.rem(4);
    }

    @media (max-width: m.$desktopMedium) {
      inline-size: 75vw;
      block-size: m.rem(600);
      aspect-ratio: unset;
      @include m.responsiveValue(
        inline-size,
        1167 - 138 - 16,
        736 - 138 - 16,
        1,
        1199,
        768
      );
    }

    @media (max-width: m.$mobile) {
      inline-size: 100%;
      block-size: auto;
    }

    .productSliders__img {
      inline-size: 100%;

      @media (max-width: m.$desktopMedium) {
        block-size: 100%;
      }
    }
  }
}
