@use "@/application/styles/module" as m;

.productSliders {
  // .productSliders__body

  &__body {
    display: flex;
    gap: m.rem(16);

    @media (max-width: m.$tablet) {
      flex-direction: column;
    }
  }

  // .productSliders__img

  &__img {
    overflow: hidden;
    background: var(--mainColor);
    border-radius: m.rem(4);
  }

  // .productSliders__miniSlider

  &__miniSlider {
    flex: 0 0 m.rem(138);
    height: m.rem(600);

    .productSliders__img {
      aspect-ratio: 1;
    }
  }

  // .productSliders__content

  &__content {
    position: relative;
    flex: 0 0 50%;

    @media (max-width: m.$tablet) {
      order: -1;
    }
  }

  // .productSliders__slider

  &__slider {
    inline-size: m.rem(600);
    aspect-ratio: 1;

    .productSliders__img {
      inline-size: 100%;
      aspect-ratio: 1;
    }
  }
}
