@use '@/application/styles/module' as m;

.cartProduct {
  // .cartProduct__body

  &__body {
    display: flex;
    gap: m.rem(16);
    align-items: flex-start;
  }

  // .cartProduct__content

  &__content {
    display: flex;
    flex-direction: column;
    gap: m.rem(16);
    justify-content: space-between;

    @media (min-width: m.$mobile) {
      gap: m.rem(12);
      padding-block: m.rem(12);
    }
  }

  // .cartProduct__img

  &__img {
    inline-size: m.rem(160);
    aspect-ratio: 1;
    background: m.$lightColor;
    border: m.rem(1) solid m.$grayColor;
    border-radius: m.rem(4);

    @media (max-width: m.$mobile) {
      inline-size: m.rem(100);
    }

    img {
      padding: m.rem(8);
      object-fit: contain;
    }
  }

  // .cartProduct__title

  &__title {
  }

  // .cartProduct__counter

  &__counter {
  }
}
