@use '@/application/styles/module' as m;

.categoryHeader {
  // .categoryHeader__body

  &__body {
    display: flex;
    flex-direction: column;
    gap: m.rem(24);
  }

  // .categoryHeader__title

  &__title {
    font-size: m.rem(24);
  }

  // .categoryHeader__content

  &__content {
    display: flex;
    justify-content: space-between;
  }

  // .categoryHeader__btn

  &__btn {
    padding-block: m.rem(10);
    padding-inline: m.rem(16);
    color: m.$darkColor;
    background: m.$cardBgLightColor;
    border: none;

    img {
      filter: unset;
    }

    @media (min-width: m.$tablet) {
      display: none;
    }
  }

  // .categoryHeader__filters

  &__filters {
    @media (min-width: m.$tablet) {
      display: none;
    }
  }
}
