@use "@/application/styles/module" as m;

.btn {
  display: inline-flex;
  align-items: center;
  padding-block: m.em(12, 16);
  padding-inline: m.em(16, 16);
  font-size: m.rem(16);
  font-weight: 500;
  color: var(--mainBg);
  background: var(--mainColor);
  border: m.em(2, 16) solid var(--mainColor);
  border-radius: m.em(5, 16);
  transition: color 0.3s ease 0s, background 0.3s ease 0s;

  @media (max-width: m.$mobile) {
    font-size: m.rem(14);
  }

  &:not(:disabled) {
    @include m.hover(
      (
        color: var(--mainColor),
        background: transparent,
      )
    );
  }

  // .btn__body

  &__body {
    position: relative;
    display: flex;
    gap: m.rem(8);
    align-items: center;
  }

  // .btn__icon

  &__icon {
    inline-size: m.rem(20);
    aspect-ratio: 1;
    filter: invert(var(--iconInvertReverse));
    transition: filter 0.3s ease 0s;
  }

  // .btn__loader

  &__loader {
  }

  // .btn_loading

  &_loading {
    .btn__content {
      visibility: hidden;
    }
  }

  &:hover,
  &:focus-visible {
    color: var(--mainColor);
    background: transparent;

    .btn__icon {
      filter: invert(var(--iconInvert));
    }
  }
}
