@use "@/application/styles/module" as m;

.btn {
  @extend %btn;

  &:not(:disabled) {
    @extend %btn_hover;
  }

  // .btn__body

  &__body {
    position: relative;
  }

  // .btn__content

  &__content {
    display: flex;
    gap: m.em(8, 16);
    align-items: center;
  }

  // .btn__icon

  &__icon {
    inline-size: m.em(20, 16);
    aspect-ratio: 1;
    filter: invert(var(--iconReverseInvert));
    transition: filter 0.3s ease 0s;
  }

  // .btn__loader

  &__loader {
  }

  // .btn_loading

  &_loading {
    .btn__content {
      visibility: hidden;
    }
  }

  &:hover,
  &:focus-visible {
    color: var(--mainColor);
    background: transparent;

    .btn__icon {
      filter: invert(var(--iconInvert));
    }
  }
}
