@use '@/application/styles/module' as m;

.homeSlider {
  // .homeSlider__body

  &__body {
    position: relative;
    z-index: 85;
  }

  // .homeSlider__slider

  &__slider {
    position: relative;
    background: m.$primaryColor;
  }

  // .homeSlider__slide

  &__slide {
  }
}
