@use "@/application/styles/module" as m;

.input {
  display: flex;
  gap: m.rem(8);
  align-items: center;

  // .input__input

  &__input {
  }

  // .input__btn

  &__btn {
  }

  // .input__icon

  &__icon {
    inline-size: m.rem(20);
    aspect-ratio: 1;
    filter: invert(var(--iconInvert));

    @media (max-width: m.$mobile) {
      inline-size: m.rem(18);
    }
  }
}
