@use "@/app/styles/module" as m;

.input {
  display: flex;
  gap: m.rem(8);
  align-items: center;

  // .input__input

  &__input {
  }

  // .input__btn

  &__btn {
  }

  // .input__icon

  &__icon {
    inline-size: m.rem(20);
    aspect-ratio: 1;

    @media (max-width: m.$mobile) {
      inline-size: m.rem(18);
    }
  }
}

:root {
  &[data-theme="dark"] {
    .input {
      // .input__icon

      &__icon {
        filter: invert(1);
      }
    }
  }
}
