@use "@/application/styles/module" as m;

.resetPassword {
  // .resetPassword__container

  &__container {
    padding-top: m.rem(m.$containerPadding);
    padding-bottom: m.rem(m.$containerPadding * 1.5);

    @extend %container;
  }

  // .resetPassword__body

  &__body {
    display: flex;
    flex-direction: column;
    gap: m.rem(32);
    align-items: center;
  }

  // .resetPassword__title

  &__title {
    font-family: m.$secondaryFontFamily;
    font-size: m.rem(24);
    font-weight: 500;

    @media (max-width: m.$mobile) {
      font-size: m.rem(20);
    }
  }

  // .resetPassword__form

  &__form {
    inline-size: 100%;
    max-inline-size: m.rem(600);
  }
}
