@use "@/application/styles/module" as m;

.orderCard {
  padding-block: m.rem(12);
  padding-inline: m.rem(16);
  background: var(--cardBg);
  border-radius: m.rem(4);

  // .orderCard__body

  &__body {
    display: flex;
    gap: m.rem(8);
    justify-content: space-between;
  }

  // .orderCard__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: m.rem(8);
  }

  // .orderCard__item

  &__item {
    overflow: hidden;
    background: m.$whiteColor;
    border-radius: m.rem(4);
  }

  // .orderCard__img

  &__img {
    inline-size: m.rem(120);
    aspect-ratio: 1;
  }

  // .orderCard__content

  &__content {
    display: flex;
    flex-direction: column;
    gap: m.rem(8);
    align-items: flex-end;
    justify-content: space-between;
  }

  // .orderCard__total

  &__total {
    font-weight: 500;
  }
}
