@use '@/application/styles/module' as m;

.orderCard {
  // .orderCard__body

  &__body {
    display: flex;
    gap: m.rem(64);
    justify-content: space-between;

    @media (max-width: m.$mobile) {
      gap: m.rem(0);
    }
  }

  // .orderCard__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: m.rem(8);
  }

  // .orderCard__item

  &__item {
    overflow: hidden;
    background: m.$whiteColor;
    border-radius: m.rem(4);
  }

  // .orderCard__img

  &__img {
    inline-size: m.rem(120);
    aspect-ratio: 1;

    @media (max-width: m.$mobile) {
      inline-size: m.rem(80);
    }

    img {
      padding: m.rem(4);
      object-fit: contain;
    }
  }

  // .orderCard__content

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;

    @media (min-width: m.$mobile) {
      gap: m.rem(64);
    }

    @media (max-width: m.$mobile) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  // .orderCard__total

  &__total {
    font-weight: 500;

    @include m.textNowrap;
  }
}
