@use "@/application/styles/module" as m;

.categoryProducts {
  // .categoryProducts__body

  &__body {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    gap: m.rem(16);
  }

  // .categoryProducts__content

  &__content {
    display: grid;
    flex: 1 1 100%;
    grid-template-columns: repeat(
      auto-fill,
      minmax(m.rem(m.$minWidth - m.$containerPadding), 1fr)
    );
    gap: m.rem(16);
  }

  // .categoryProducts__pagination

  &__pagination {
  }
}
