@use '@/application/styles/module' as m;

.collapse {
  // .collapse__icon

  &__icon {
    inline-size: m.rem(12);
    aspect-ratio: 1;
    transition: rotate 0.3s ease 0s;

    img {
      filter: invert(var(--iconInvert));
    }
  }

  // .collapse__btn

  &__btn {
    position: relative;
    display: flex;
    gap: m.rem(8);
    align-items: center;

    &[data-open='true'] {
      .collapse__icon {
        rotate: 90deg;
      }
    }
  }

  // .collapse__body

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s ease 0s;

    // .collapse__body_open

    &_open {
      grid-template-rows: 1fr;
    }
  }

  // .collapse__content

  &__content {
    min-height: 0;
  }
}
