@use '@/application/styles/module' as m;

.localeSwitcher {
  display: flex;
  font-size: m.rem(16);
  color: m.$darkColor;

  // .localeSwitcher__item

  &__item {
    &:not(:last-child) {
      padding-right: m.em(10);
      border-right: m.em(1) solid m.$darkColor;
    }

    &:not(:first-child) {
      padding-left: m.em(10);
      border-left: m.em(1) solid m.$darkColor;
    }
  }

  // .localeSwitcher__btn

  &__btn {
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.3s ease 0s;

    &:hover,
    &:focus-visible {
      opacity: 0.5;
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &:not(:disabled) {
      font-weight: 500;
    }
  }
}
