@use "@/application/styles/module" as m;

.select {
  // .select__body

  &__body {
    position: relative;
  }

  // .select__listbox

  &__listbox {
    display: flex;
    gap: m.rem(8);
    align-items: center;
    padding-block: m.rem(12);
    padding-inline: m.rem(16);
    font-family: m.$primaryFontFamily;
    color: m.$darkColor;
    appearance: none;
    background: m.$cardBgLightColor;
    border-radius: m.rem(4);
  }

  // .select__icon

  &__icon {
    display: flex;
    align-items: center;
    inline-size: m.rem(12);
    aspect-ratio: 1;
  }

  // .select__options

  &__options {
    z-index: 2;
    padding: m.rem(4);
    background: m.$cardBorderLightColor;
    border-radius: m.rem(4);
    transition: opacity 0.1s ease-in;

    &[data-leave][data-closed] {
      opacity: 0;
    }
  }

  // .select__option

  &__option {
    padding: m.rem(8) m.rem(12);
    color: m.$darkColor;
    cursor: pointer;
    user-select: none;
    border-radius: m.rem(4);
    transition: 0.3s ease 0s;
    transition-property: color, background;

    &[data-focus] {
      color: m.$lightColor;
      background: m.$secondaryColor;
    }

    &[data-selected] {
      color: m.$lightColor;
      background: m.$primaryColor;
    }
  }
}
