@use "@/application/styles/module" as m;

.rating {
  // .rating__icon

  &__icon {
    width: m.rem(20);
    aspect-ratio: 1;

    // .rating__icon_empty

    &_empty {
      filter: grayscale(1);
    }
  }

  :global(.react-simple-star-rating) {
    > span {
      display: flex;
      gap: m.rem(4);
    }
  }
}
